.arc text {
    font: 20px sans-serif;
    text-anchor: middle;
    color: white;
}

.arc path {
    stroke: #fff;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

.container-fluid{
    background-color: #46b8da;

}

.navbar-brand{
    color: #ffffff;
}